{{>layout/header}}  <!-- 현재 파일을 기준으로 다른 파일 가져옴 -->

    <h1> &nbsp; Spring Boot Web Service Ver.2 </h1>
    <br>

    <!-- 로그인 영역 -->
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary"> Write </a>
                {{#userName}}   <!-- 머스테치 if문 제공 안하므로 최종값을 넘겨줘야 함 -->
                Logged in as: <span id="user"> {{userName}} </span>
                <a href="/logout" class="btn btn-info active" role="button"> Logout </a> <!-- 스프링 시큐리티 기본 제공 logout -->
                {{/userName}}
                {{^userName}} <!-- 해당 값이 존재하지 않는 경우 ^를 사용. userName이 없다면 로그인 버튼 노출시키도록-->
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button"> Google Login </a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button"> Naver Login </a>
                    <!-- 스프링 시큐리티 기본 제공 로그인 URL -->
                {{/userName}}
            </div>
        </div>
        <br>

        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>게시글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>최종수정일</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {{#posts}} <!-- posts라는 List를 순회함 (JAVA의 for문)-->
                <tr>
                    <td>{{id}}</td>     <!-- List에서 뽑아낸 객체의 필드를 사용 -->
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>   <!-- 타이틀을 클릭하면 해당 게시글의 수정화면으로-->
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
                {{/posts}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}